<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <$= __( 'page-title-tone') $>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="og:title" content="IBM Watson Tone Analyzer">
  <meta name="og:description" content="This service uses linguistic analysis to detect joy, fear, sadness, anger, analytical, confident and tentative tones found in text.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/extra.css">
</head>

<body>
  <!-- demo body -->
        <div class="panel">
          <textarea class="base--textarea input--textarea" rows="7"></textarea>
        </div>
        <div class="input--submit-button-container">
          <button class="base--button input--submit-button" type="submit"><$= __('button-analyze') $></button>
        </div>
      </div>
      <div class="error">
        <div class="error--message"></div>
      </div>


  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/vendors/prism.js"></script>
  <script type="text/javascript" src="js/components/tab-panels.js"></script>
  <script type="text/javascript" src="js/components/helpers.js"></script>
  <script type="text/javascript" src="js/components/App.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
  <$ if (bluemixAnalytics) { $>
    <script type="text/javascript" src="js/analytics.js"></script>
  <$ } $>
  <script type="text/javascript">
    $(document).ready(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      $(".input--submit-button, .output--reset-button").click(function() {
        $('input[name="document-level"]').prop('checked', false);
        $('input[name="sentence-level"]').prop('checked', false);
      });
      $("input[name='document-level']").click(function() {
        setTimeout(function() {
          $('.dcl').hide(0).delay(2000).show(0);
          $('.document-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });
      $("input[name='sentence-level']").click(function() {
        setTimeout(function() {
          $('.scl').hide(0).delay(2000).show(0);
          $('.sentence-level-thankyou').show(0).delay(2000).hide(0);
        }, 100);
      });

      var first_char = /\S/;
          var SpeechAnalysis = function () {
            var recognition = new webkitSpeechRecognition();
            var transcript = final_transcript = '';
            var text = document.querySelector('.input--textarea');
            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.onresult = function(event) {
              var interim_transcript = '';
              if (typeof(event.results) == 'undefined') {
                recognition.onend = null;
                recognition.stop();
                return;
              }
              for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                  final_transcript += event.results[i][0].transcript;
                } else {
                  interim_transcript += event.results[i][0].transcript;
                }
              }
              text.value = final_transcript;
            };
            recognition.start();
          }
          SpeechAnalysis();
    });
  </script>
</body>

</html>
