doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Revive - Team 34
    // Bootstrap Core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Theme CSS
    link(href='css/grayscale.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // jQuery
    script(src='vendor/jquery/jquery.js')
    //Hide & Show Fcn
    script.
      $(document).ready(function(){
          $(".input--submit-button").click(function(){
            if(!$('.input--textarea').value){
              
              $("textarea").hide();
            } 
              $("textarea").show();
            
          });
      });
      

  
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand.page-scroll(href='index.html')
            i.fa.fa-play-circle
            |  HOYAHACKS
    // Intro Header
    header.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading Revive
              p.intro-text
                | A Free, Responsive, Web App
                br
                | Created by Team 34.
              .panel(style='background-color: transparent;')
                textarea.intro-text.base--textarea.input--textarea(style='background-color: transparent; border: none; border-bottom: 5px solid;' rows='2')
                br
                |  
                .input--submit-button-container
                button.intro-text.base--button.input--submit-button(type='submit' style='background-color: transparent; border: none;') Analyze
                  .error
                  .error--message
    p#response      
           
    // Footer
    footer
      .container.text-center
        p Copyright © Revive 2018
  
    // Bootstrap Core JavaScript
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    // Theme JavaScript
    script(src='js/grayscale.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(type='text/javascript', src='js/vendors/prism.js')
    script(type='text/javascript', src='js/components/tab-panels.js')
    script(type='text/javascript', src='js/components/helpers.js')
    script(type='text/javascript', src='js/components/App.js')
    script(type='text/javascript', src='js/demo.js')
    script(type='text/javascript').
      $(document).ready(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      $(".input--submit-button, .output--reset-button").click(function() {
      $('input[name="document-level"]').prop('checked', false);
      $('input[name="sentence-level"]').prop('checked', false);
      });
      $("input[name='document-level']").click(function() {
      setTimeout(function() {
      $('.dcl').hide(0).delay(2000).show(0);
      $('.document-level-thankyou').show(0).delay(2000).hide(0);
      }, 100);
      });
      $("input[name='sentence-level']").click(function() {
      setTimeout(function() {
      $('.scl').hide(0).delay(2000).show(0);
      $('.sentence-level-thankyou').show(0).delay(2000).hide(0);
      }, 100);
      });
      var first_char = /\\S/;
      var SpeechAnalysis = function () {
      var recognition = new webkitSpeechRecognition();
      var transcript = final_transcript = '';
      var text = document.querySelector('.input--textarea');
      recognition.continuous = true;
      recognition.interimResults = true;
      recognition.onresult = function(event) {
      var interim_transcript = '';
      if (typeof(event.results) == 'undefined') {
        recognition.onend = null;
        recognition.stop();
        return;
      }
      for (var i = event.resultIndex; i < event.results.length; ++i) {
        if (event.results[i].isFinal) {
          final_transcript += event.results[i][0].transcript;
        } else {
        interim_transcript += event.results[i][0].transcript;
        }
      }
        text.value = final_transcript;
      };
      recognition.start();
      }
      SpeechAnalysis();
      });
